<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul class="treeCSS">
  <li>Сайт
    <ul>
      <li>Блог
        <ul>
          <li>HTML
          <li>CSS
          <li>JavaScript
        </ul>
      <li>Контакты
    </ul>
</ul>

 <style>
.del { display: none; }
.del:not(:checked) + label + * { display: none; }
.del:not(:checked) + label,
.del:checked + label {
display: inline-block;
padding: 2px 10px;
border-radius: 2px;
color: #fff;
background: #4e6473;
cursor: pointer;
}
.del:checked + label {
background: #e36443;
}
</style>
<input type="checkbox" id="raz" class="del" checked="checked"/>
<label for="raz" class="del">нажать</label>
<div>исчезающий текст</div>


{% for m in menu %}
<p><a href="{% url 'menu' m.id %}">{{m.name}}</a></p>
{% endfor %}
</body>
</html>